
body {
    background-color: dimgrey;
    color: white;
    font-family: "Arial", sans-serif;
}

#toPosts {
    width: 200px;
    height: 50px;
    font-size: 18px;
}

#all_posts{
    height: 70%;
    overflow: scroll;
}

.post-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

#title-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
#desc-box{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Arial", sans-serif;

}
.userclass{
    font-size: 20px;
}

.userclass{
    font-size: 20px;
}

